$width: 30px;
$height: 30px;

.estados {
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

    .estados-img {
        padding: 0 20px;
        width: 100px;
        // flex: 1 1 auto;
    }

    .estados-content {
        flex: 1 1 60%;
        display: flex;
        flex-direction: column;
    }

        .estados-user {
            margin-bottom: 10px;
            flex: 1 1 auto;
        }

        .estado-description {
            flex: 1 1 auto;
            padding-right: 10px;
        }

    .estados-btns {
        // position: relative;
        // display: block;
        margin-top: 15px;
        // width: 100%;
        // height: 60px;
        // background-color: red;

        @media all and ( max-width: 500px ) {
            width: 100%;
            height: 60px;
        }
    }


    .estados-detalles {
        padding: 10px;
        flex: 1 1 100%;
        display: flex;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #cccccc;
    }

        .reacciones {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            // background-color: blue;
        }

        .num-comentarios {
            display: flex;
            align-items: center;
            // background-color: green;
        }

.reaccion-azul {
    width: $width;
    height: $height;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #4789F4;
}

.reaccion-roja {
    width: $width;
    height: $height;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #FD575B;
}

.reaccion-amarilla {
    width: $width;
    height: $height;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #EBCA21;
}

.button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 16px;
    background-color: white;
    border: none;

    &-primary {
        color: #2DCB70;
    }

    @media all and ( max-width: 500px ) {
        &-primary {
            // color: red;
            padding: 10px 16px;
            font-size: 16px;
            font-weight: bold;;
            height: 100%;
            width: 50%;
            background-color: white;
            border: 1px solid #cccccc;
        }
    }
}


// .comentarios {
//     margin-top: -10px;
//     padding: 10px;
//     margin-bottom: 20px;
//     background-color: #F1F1F1;
//     display: flex;
//     flex-direction: column;
// }

//     .comentario {
//         padding-top: 15px;
//         display: flex;
//         flex-wrap: wrap;
//         // flex-direction: column;
//     }

//         .comentario-img {
//             padding: 0 20px;
//             width: 100px;
//         }


//         .comentario-content {
//             flex: 1 1 60%;
//             display: flex;
//             flex-direction: column;
//         }

//             .comentario-user {
//                 flex: 1 1 auto;
//                 padding-top: 10px;
//             }

//     .comentario-text {
//         padding: 10px;
//         margin-top: 30px;
//         // background-color: red;

//         input {
//             display: block;
//             border: 1px solid #cccccc;
//             height: 50px;
//             width: 100%;
//             font-size: 16px;
//         }
//     }

.ocultar {
    display: none;

    @media all and (max-width: 500px) {
        display: block;
    }
}

.ocultar-m {
    display: block;

    @media all and (max-width: 500px) {
        display: none;
    }
}


.reaccionMenuBar {
    position: relative;
}

    .reaccionMenu {
        list-style: none;
        width: 150px;
        height: 100px;
        display: flex;
        flex-direction: column;
        padding: 5px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 10px 10px 35px 0px lightgray;
        position: absolute;
        top: -87px;

        li {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            font-size: 14px;
            cursor: pointer;

            &:hover {
                color: #68BC93;
            }
        }
    }